<!DOCTYPE html>
<html>
<body class="preload">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<h1>Weather Parameters </h1> 
<h1>--------------------</h1> 
<form action='/hello' target='_self' method='get'> 
	<p1><label for='city'>Enter City:</label><br></p1> 
	<input type='text' id='city' name='city'><br> 
	<h1>--------------------</h1>  
	<input type='submit' value='Submit'> 
</form>
<h1>--------------------</h1>
<a href="/hello?city=mumbai"><p1>Pune<p1><a>
<a href="/hello?city=mumbai"><p1>Mumbai</p1></a>
<a href="/hello?city=delhi"><p1>Delhi</p1></a>
<a href="/hello?city=Bangalore"><p1>Bangalore</p1></a>
<a href="/hello?city=kolkata"><p1>kolkata</p1></a>
</body>
</html>
