<!DOCTYPE html>
<html>
<body class="preload">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<a href="./"><h1>Home</h1></a>
<h1>CURRENT WEATHER PARAMETERS </h1>
<h1>Weather Parameters for {{posts.location.name}}</h1>
<h1>Country : {{ posts.location.country }}  <h1>
<h1>Region : {{ posts.location.region }}  <h1>
<h1>Time Zone : {{ posts.location.timezone_id }}</h1>
<h1>Temperature : {{ posts.current.temperature }} Celcius </h1>
<h1>Weather Description : {{ posts.current.weather_descriptions }} Celcius </h1>
<h1>Wind Speed : {{ posts.current.wind_speed }} km/hr  </h1>
<h1>Humidity : {{ posts.current.humidity }}  </h1>
<h1>Pressure : {{ posts.current.pressure }}  </h1>

<a href="/hello?city=pune"><p1>Pune<p1><a>
<a href="/hello?city=mumbai"><p1>Mumbai</p1></a>
<a href="/hello?city=delhi"><p1>Delhi</p1></a>
<a href="/hello?city=Bangalore"><p1>Bangalore</p1></a>
<a href="/hello?city=kolkata"><p1>kolkata</p1></a>
</body>
</html>

